
// = = = = = = =
// VARS
// = = = = = = =

// COLORS
$bg: #f1f2f6;
$main: #2980b9;

$ttls: #{$main};

$light: #f2f2f2;
$greyLight: #a4b0be;
$grey: #57606f;
$greyDark: #2f3542;

$green: #27ae60;
$red: #c0392b;

// themes
$sideBarDark: #2c3e50;
$sideBarLight: #ecf0f1;

$thm-green: #{$green};
$thm-blue: #{$main};
$thm-red: #{$red};
$thm-dark: #2c3e50;
$thm-light: #ecf0f1;

// SIZES
$topBarHeight: 70px;

$sideBarWidth: 270px;
$sideBarWidthSm: 80px;

$grid_w_Gutter: 15px;


// = = = = = = =
// MIXINS
// = = = = = = =
@mixin transitioanAll ($secs, $delay:0s) {
     -webkit-transition: all $secs ease-in-out $delay;
     -moz-transition: all $secs ease-in-out $delay;
     -o-transition: all $secs ease-in-out $delay;
     transition: all $secs ease-in-out $delay;
}