
$breadcrumb-separator: '|';
$breadcrumb-spacing: 8px;

.breadCrumbWrap {
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;

     .title {
          @include mainTypo_rg();
          font-size: 24px;
          color: $ttls;
     }

     .bread {

          .breadcrumbs {
               display: flex;
               list-style: none;
               font-size: 14px;

               li {
                    display: block;

                    &::after {
                         display: inline-block;
                         content: $breadcrumb-separator;
                         padding: 0 $breadcrumb-spacing;

                         color: $main;
                    }

                    &:last-of-type {
                         &::after {
                              display: none;
                         }
                    }
                    
                    a {
                         color: $main;
                    }
               }
          }
          
     }
}