
<div class="wrapper maskInit">
  <div class="wrap">
    <div class="box box-light">

      <div class="boxCont" *ngIf="!forgetPass">
        <div class="topBrand">
          <div class="icon">
            <img src="assets/img/logoIco.png" alt="homepage" class="dark-logo" />
            <img src="assets/img/logoIco_lght.png" alt="homepage" class="light-logo" />
          </div>
          <div class="text">
            <img src="assets/img/logoTxt.png" alt="homepage" class="dark-logo" />
            <img src="assets/img/logoTxt_lght.png" alt="homepage" class="light-logo" />
          </div>
        </div>

        <div class="formWrap animated fadeInRight">
          <form ngNativeValidate #form="ngForm" (ngSubmit)="logIn( form )">
            <div class="formItem">
              <mat-form-field class="example-full-width">
                <input matInput type="email" autocomplete="false" placeholder="Usuario" [ngModel]="email" name="userMail" required>
              </mat-form-field>
            </div>
            <div class="formItem">
              <mat-form-field class="example-full-width">
                <input matInput type="password" autocomplete="false" placeholder="Contraseña" ngModel name="userPsswrd" required>
              </mat-form-field>
            </div>

            <div class="formItem formItemFlex">
              <div class="remember">
                <mat-checkbox [(ngModel)]="remember" name="remember">Recuérdame
                </mat-checkbox>
              </div>
              <div class="forgot">
                <button type="button" (click)="forgetPass = !forgetPass">
                  ¿Olvide contraseña?
                </button>
              </div>
            </div>

            <div class="formItem formItemSubmit">
              <button type="submit" class="waves-effect">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>

        <div class="socialBtn animated fadeInRight">
          <button type="button" class="waves-effect" id="btnGoogle">
            <i class="ia ia-gplus"></i>
          </button>
        </div>

        <div class="regBtnWrap animated fadeInRight">
          ¿No tienes una cuenta? <a (click)="goToReg()">Crear cuenta</a>
        </div>
  
      </div>
      
      <div class="boxCont" *ngIf="forgetPass">
        <div class="topBrand">
          <div class="icon">
            <img src="assets/img/logoIco.png" alt="homepage" class="dark-logo" />
            <img src="assets/img/logoIco_lght.png" alt="homepage" class="light-logo" />
          </div>
          <div class="text">
            <img src="assets/img/logoTxt.png" alt="homepage" class="dark-logo" />
            <img src="assets/img/logoTxt_lght.png" alt="homepage" class="light-logo" />
          </div>
        </div>

        
        <div class="formWrap animated fadeInRight">
          <form>
            <div class="formItem formItemTtl">
              <h3>Recuperar contraseña</h3>
              <p>¡Coloca tu correo electrónico y sigue los pasos!</p>
            </div>

            <div class="formItem">
              <mat-form-field class="example-full-width">
                <input matInput type="email" autocomplete="false" placeholder="Correo electrónico" name="" value="">
              </mat-form-field>
            </div>

            <div class="formItem formItemSubmit">
              <button type="button" class="waves-effect">
                Reestablecer
              </button>
            </div>

            <div class="regBtnWrap regBtnWrapBack">
              <a (click)="forgetPass = !forgetPass">Cancelar</a>
            </div>

          </form>
        </div>
  
      </div>

    </div>
  </div>
</div>