

<div class="left-sidebar">
  <div class="scroll-sidebar">
      <ul class="sidebar-menu">

          <li>
            <a class="waves-effect">
              <b>
                <i class="avatar">
                    <img src="assets/img/avatar.png" alt="">
                </i>
                <span>Camilo Castrillón</span>
              </b>
              <i class="ia ia-arrow"></i>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a class="waves-effect">
                  <i class="ia ia-profile"></i>
                  Mi Perfil
                </a>
              </li>
              <li>
                <a class="waves-effect">
                  <i class="ia ia-mssg"></i>
                  Inbox
                </a>
              </li>
              <li>
                <a class="waves-effect">
                  <i class="ia ia-config"></i>
                  Configuración
                </a>
              </li>
              <li>
                <a class="waves-effect">
                  <i class="ia ia-logout"></i>
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>

        <li class="sidebar-header">MAIN NAVIGATION</li>

        <li>
          <a class="waves-effect">
            <b>
              <i class="ia ia-config"></i>
              <span>Dashboard</span>
            </b>
            <i class="ia ia-arrow"></i>
          </a>
          <ul class="sidebar-submenu">
            <li>
              <a class="waves-effect">
                <i class="ia ia-config"></i>
                Dashboard v1
              </a>
            </li>
          </ul>
        </li>

      </ul>
  </div>
</div>