
.movieConfigWrapper {

     .loader {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .top {
               text-align: center;
          }
          .ico {
               margin: 10px 0;
               text-align: center;
               font-size: 30px;
          }
     }

     .card {
          .card-ttl {
               display: flex;
               justify-content: space-between;
               align-items: center;

               button {
                    padding: 8px 15px;
                    background: $main;
                    color: white;
                    border-radius: 5px;
                    border: thin solid $greyLight;
                    font-size: 14px;
     
                    i {
                         margin: 0 8px;
                    }
               }
          }
     }

     .userList {

          table {
               tbody {
                    td {
                         vertical-align: middle;
                         padding: 10px;

                         p {
                              span {
                                   display: block;
                                   margin: 0 0 5px 0;
                                   
                                   b {
                                        @include mainTypo_bd;
                                   }
                              }
                         }
                    }
               }
          }

          .usrImg {
               width: 60px;
               height: auto;
               overflow: hidden;
               // border-radius: 50%;
               img {
                    width: 100%;
                    height: auto;
               }
               
          }
          button {
               padding: 15px;
               background: $light;
               margin: 0 0 0 15px;
               border-radius: 5px;

               &.delBtn {
                    background: $red;
                    color: white;
               }
          }

          .editBtns {
               display: flex;
               justify-content: flex-end;
          }
     }
     
     .pagBtns {
          display: flex;
          justify-content: space-between;

          button {
               padding: 15px;
               background: $light;
               border-radius: 5px;
               border: thin solid $greyLight;

               i {
                    margin: 0 8px;
               }

               &:disabled {
                    opacity: 0.3;
               }
          }
     }

}

.movieEditWrapper {
     .topMovie {
          position: relative;
          width: 100%;

         .backdrops {
              position: relative;
              width: 100%;
              height: 450px;
              overflow: hidden;
              z-index: 1;
              margin: 0 0 30px 0;
              
               img {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: auto;
                    top: 50%;
                    transform: translateY(-50%)
               }
               .overlay {
                    position: absolute;
                    z-index: 5;
                    background: rgba(0,0,0,0.7);
                    top: 0;
                    width: 100%;
                    height: 100%;
               }
         } 

          .movieInfo {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50% , -50%);
               z-index: 5;
               min-width: 70%;

               .info {
                    display: flex;

                    .poster {
                         margin: 0 30px 0 0;
                         img {
                              width: 200px;
                              height: auto;
                         }
                    }

                    .infotxt {
                         color: white;

                         .name {
                              margin: 0 0 30px 0;
                              b {
                                   display: inline-block;
                                   font-size: 26px;
                                   margin: 0 10px 0 0;
                              }
                         }

                         .mid {
                              display: flex;
                              align-items: center;
                              margin: 0 0 30px 0;

                              .prod {
                                   display: flex;
                                   align-items: center;
                                   img {
                                        margin: 0 20px 0 0;
                                        width: 50px;
                                        height: auto;
                                   }
                              }
                              .rating {
                                   margin: 0 0 0 40px;
                              }
                         }

                         .overView {
                              .ttl {
                                   @include mainTypo_bd();
                                   margin: 0 0 5px 0; 
                              }
                              .txt {
                                   line-height: 1.4;
                              }
                         }
                    }

               }
          }
     
          .userForm {
               .formItem {
     
                    &.formItemImgPoster {
                         width: 195px;
                         height: auto;
                         overflow: hidden;
                         cursor: pointer;
                         margin: 20px auto 20px auto;
     
                         img {
                              width: 100%;
                              height: auto;
                         }

                         p {
                              text-align: center;
                         }
                    }
                    &.formItemImgBack {
                         width: 100%;
                         height: auto;
                         cursor: pointer;
                         overflow: hidden;
                         margin: 20px auto 20px auto;
     
                         img {
                              width: 100%;
                              height: auto;
                         }
                    }

                    &.formItemSubmit {
                         margin: 25px 0 0 0;
                         display: flex;
                         justify-content: space-between;

                         button {
                              padding: 15px 20px;
                              text-transform: uppercase;
                              letter-spacing: 1px;
                              border-radius: 30px;
                              color: white;
                              
                              &.cancelBtn {
                                   background: $red;
                              }
                              &.saveBtn {
                                   background: $main;
                              }
                         }
                    }
     
                    
     
                    &.formItem2Col {
                         .mat-form-field {
                              width: 50%;
                         }
                    }
     
               }
          }
     }
}