
.userConfigWrapper {
     .loader {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .top {
               text-align: center;
          }
          .ico {
               margin: 10px 0;
               text-align: center;
               font-size: 30px;
          }

     }
     .userList {

          table {
               tbody {
                    td {
                         vertical-align: middle;
                         padding: 10px;
                    }
               }
          }

          .usrImg {
               width: 60px;
               height: 60px;
               overflow: hidden;
               border-radius: 50%;
               img {
                    width: 100%;
                    height: auto;
               }
          }
          button {
               padding: 15px;
               background: $light;
               margin: 0 0 0 15px;
               border-radius: 5px;

               &.delBtn {
                    background: $red;
                    color: white;
               }
          }
     }
     .pagBtns {
          display: flex;
          justify-content: space-between;

          button {
               padding: 15px;
               background: $light;
               border-radius: 5px;
               border: thin solid $greyLight;

               i {
                    margin: 0 8px;
               }

               &:disabled {
                    opacity: 0.3;
               }
          }
     }
}