
<div class="row">
  <div class="col_lg_6">
      
      <div class="card">
        <div class="card-body">
          <div class="card-ttl">Temas</div>
          <div class="card-txt">
            selecciona un tema
          </div>

          <div class="types">

            <form>
              
              <fieldset>
                <legend>Barra lateral clara</legend>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, assumenda porro maxime magni tempora adipisci fugit eum doloremque rerum, qui laborum! Beatae fuga ullam error officia maxime, aliquid quibusdam neque.
              </fieldset>

            </form>


          </div>

        </div>
      </div>

  </div>
</div>
