
<div class="wrapper maskInit">
    <div class="wrap">
      <div class="box box-light">
  
        <div class="boxCont">
          <div class="topBrand">
            <div class="icon">
              <img src="assets/img/logoIco.png" alt="homepage" class="dark-logo" />
              <img src="assets/img/logoIco_lght.png" alt="homepage" class="light-logo" />
            </div>
            <div class="text">
              <img src="assets/img/logoTxt.png" alt="homepage" class="dark-logo" />
              <img src="assets/img/logoTxt_lght.png" alt="homepage" class="light-logo" />
            </div>
          </div>
  
          <div class="formWrap">
            <form action="">
              <div class="formItem formItemTtl">
                <h3>Regístrese ahora</h3>
                <p>Crear una nueva cuenta</p>
              </div>

              <div class="formItem">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" autocomplete="false" placeholder="Nombre" name="" value="">
                </mat-form-field>
              </div>
              <div class="formItem">
                <mat-form-field class="example-full-width">
                  <input matInput type="email" autocomplete="false" placeholder="E-mail" name="" value="">
                </mat-form-field>
              </div>
              <div class="formItem">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" autocomplete="false" placeholder="Contraseña" name="" value="">
                </mat-form-field>
              </div>
              <div class="formItem">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" autocomplete="false" placeholder="Confirmar Contraseña" name="" value="">
                </mat-form-field>
              </div>

              <div class="formItem formItemFlex">
                <div class="remember">
                  <mat-checkbox>Estoy de acuerdo con los <a >términos</a>
                  </mat-checkbox>
                </div>
              </div>

              <div class="formItem formItemSubmit">
                <button type="button" class="waves-effect">
                  Regístrese
                </button>
              </div>

            </form>
          </div>
  
          <div class="regBtnWrap">
            Ya tienes una cuenta? <a (click)="goToReg()">Iniciar sesión</a>
          </div>
    
        </div>
  
      </div>
    </div>
  </div>