
// vars
$ia-font-path:        "assets/fonts/icons" !default;
$ia-background-color: #eee !default;
$ia-li-margin-right:  0.4em !default;

// mixins
@mixin ia-rotate($degrees, $rotation) {
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
     -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
     -ms-transform: rotate($degrees);
     -o-transform: rotate($degrees);
     transform: rotate($degrees);
}

@mixin ia-flip($horiz, $vert, $rotation) {
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
     -webkit-transform: scale($horiz, $vert);
     -moz-transform: scale($horiz, $vert);
     -ms-transform: scale($horiz, $vert);
     -o-transform: scale($horiz, $vert);
     transform: scale($horiz, $vert);
}

// styles
@font-face {
     font-family: 'adminIcons';
     src: url('#{$ia-font-path}/adminIcons.eot');
     src: url('#{$ia-font-path}/adminIcons.eot') format('embedded-opentype'),
          url('#{$ia-font-path}/adminIcons.woff2') format('woff2'),
          url('#{$ia-font-path}/adminIcons.woff') format('woff'),
          url('#{$ia-font-path}/adminIcons.ttf') format('truetype'),
          url('#{$ia-font-path}/adminIcons.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
.ia {
     display: inline-block;
     font: normal normal normal 1em/1 'adminIcons';
     speak: none;
     text-transform: none;
     /* Better Font Rendering */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

/* relative units */
.ia-sm {
     font-size: 0.8em;
}
.ia-lg {
     font-size: 1.2em;
}
/* absolute units */
.ia-16 {
     font-size: 16px;
}
.ia-32 {
     font-size: 32px;
}

.ia-bg-square,
.ia-bg-circle {
     padding: 0.35em;
     background-color: $ia-background-color;
}

.ia-bg-circle {
     border-radius: 50%;
}

.ia-ul {
     padding-left: 0;
     list-style-type: none;

     > li {
          display: flex;
          align-items: flex-start;
          line-height: 1.4;
     }

     > li > .ia {
          margin-right: $ia-li-margin-right;
          line-height: inherit;
     }
}

.ia-is-spinning {
     -webkit-animation: ia-spin 2s infinite linear;
     -moz-animation: ia-spin 2s infinite linear;
     animation: ia-spin 2s infinite linear;
}
   
@-webkit-keyframes ia-spin {
     0% {
          -webkit-transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(360deg);
     }
}
@-moz-keyframes ia-spin {
     0% {
          -moz-transform: rotate(0deg);
     }
     100% {
          -moz-transform: rotate(360deg);
     }
}
@keyframes ia-spin {
     0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
     }
}


.ia-rotate-90  {
	@include ia-rotate(90deg, 1);
}
.ia-rotate-180 {
	@include ia-rotate(180deg, 2);
}
.ia-rotate-270 {
	@include ia-rotate(270deg, 3);
}
.ia-flip-y {
	@include ia-flip(-1, 1, 0);
}
.ia-flip-x {
	@include ia-flip(1, -1, 2);
}

/*------------------------
	icons
-------------------------*/
@import 'assets/scss/fonts/icons/icons';
   